.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color:#fff;
  background-color:rgba(0,98,204,0);
  border-color:rgba(0,92,191,0);
}

.btn-primary:hover {
  color:#fff;
  background-color:rgba(0,105,217,0);
  border-color:rgba(0,98,204,0);
}

a:hover {
  color:rgba(0,86,179,0);
  text-decoration:underline;
}

.btn-primary {
  color:#fff;
  background-color:rgba(0,123,255,0);
  border-color:rgba(0,123,255,0);
}

